{{!-- Main handle bar app  --}}
{{!-- Shouldn't need to modify this at all. It acts as our most basic template 
for the whole site. --}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Aviators' Database Interface</title>
</head>
<body>
    <h1>Welcome to the Aviators</h1>
<div class="nav">
    <h2>Available Tables</h2>
    <nav>
    <a href="/">Home</a>   
    <a href="/customers.html">Customers</a>   
    <a href="/jets">Jets</a>   
    {{!-- <a href="/models">Models</a>    --}}
    <a href="/routes.html">Routes</a>   
    <a href="/airports.html">Airports</a>   
    <a href="/tickets">Tickets</a>   
    </nav>
</div>
    {{{body}}}
</body>
</html>
