{{!-- <h1>Welcome to the Aviators</h1>
<div class="nav">
    <h2>Available Tables</h2>
    <nav>
    <a href="/customers.html">Customers</a>   
    <a href="/jets">Jets</a>   
    <a href="/models">Models</a>   
    <a href="/routes.html">Routes</a>   
    <a href="/airports.html">Airports</a>   
    <a href="/tickets">Tickets</a>   
    </nav>
</div> --}}
 
