{{!-- Our Home Page --}}


<h3>About the Aviators</h3>

<p>
    The Aviators is an exclusive private jet company based out of Los Angeles, California.  
    <br>We fly domestic and international routes on our luxurious private jets.<br>
    <br>To view current flight routes, navigate to the Routes tab.
    <br>To see airports we operate out of, navigate to the Airports tab.
    <br>To become a member, navigate to the Customers tab to sign up.
    <br>To book a flight, navigate to the Tickets tab.
    <Br>If you would like to see a list of our luxurious jets, navigate to the Jets tab.<br>
    <br>Fly with the Aviators on your next trip.
</p>



