{{!-- Currently Inactive --}}

<h1>Browse Models</h1>

<table border="1" cellpadding="5">
    <thead>
        <tr>
        {{#each data.[0]}}
            <th>{{@key}}</th>
        {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.model_id}}</td>
            <td>{{this.make}}</td>
            <td>{{this.pass_capacity}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>